char USER_DB[] = "DATABASE_USERNAME";
char PASS_DB[] = "DATABASE_PASSWORD";

char SELECT_SQL[] = "SELECT COLUNMS FROM DATABASE.TABLE ORDER BY ID DESC LIMIT 1";

const byte rel1ON[] = {0xA0, 0x01, 0x01, 0xA2};
const byte rel1OFF[] = {0xA0, 0x01, 0x00, 0xA1};
const byte rel2ON[] = {0xA0, 0x02, 0x01, 0xA3};
const byte rel2OFF[] = {0xA0, 0x02, 0x00, 0xA2};
const byte rel3ON[] = {0xA0, 0x03, 0x01, 0xA4};
const byte rel3OFF[] = {0xA0, 0x03, 0x00, 0xA3};
const byte rel4ON[] = {0xA0, 0x04, 0x01, 0xA5};
const byte rel4OFF[] = {0xA0, 0x04, 0x00, 0xA4};